.align-left{
    text-align: left !important;
}
.about{
    width: 900px;
    /* margin-left: 35px; */
}
.bold-600{
    font-weight: 600;
}
ul.social li a:before{
    background-color: #fff;
}
.mar-bot{
  margin-bottom: 0.8em;  
}
.mar-bot-m{
    margin-bottom: 1.3em !important;  
  }